body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1228 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:300px;
}
#u1228_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:240px;
}
#u1229 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:240px;
  height:240px;
}
#u1229_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1230 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:54px;
  width:582px;
  height:67px;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1230_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  word-wrap:break-word;
}
#u1231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:35px;
}
#u1231 {
  border-width:0px;
  position:absolute;
  left:1098px;
  top:72px;
  width:1px;
  height:34px;
}
#u1231_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:35px;
}
#u1232 {
  border-width:0px;
  position:absolute;
  left:1371px;
  top:70px;
  width:1px;
  height:34px;
}
#u1232_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1233 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#000144;
}
#u1234 {
  border-width:0px;
  position:absolute;
  left:1650px;
  top:37px;
  width:176px;
  height:38px;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#000144;
}
#u1234_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  word-wrap:break-word;
}
#u1235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u1235 {
  border-width:0px;
  position:absolute;
  left:1826px;
  top:35px;
  width:50px;
  height:42px;
}
#u1235_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1236 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#000144;
}
#u1237 {
  border-width:0px;
  position:absolute;
  left:1650px;
  top:102px;
  width:175px;
  height:38px;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#000144;
}
#u1237_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u1238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:38px;
}
#u1238 {
  border-width:0px;
  position:absolute;
  left:1825px;
  top:101px;
  width:50px;
  height:38px;
}
#u1238_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1239 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#343434;
  text-align:center;
}
#u1240 {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:70px;
  width:207px;
  height:38px;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#343434;
  text-align:center;
}
#u1240_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  word-wrap:break-word;
}
#u1241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:48px;
}
#u1241 {
  border-width:0px;
  position:absolute;
  left:1109px;
  top:62px;
  width:45px;
  height:48px;
}
#u1241_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1242 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#343434;
  text-align:center;
}
#u1243 {
  border-width:0px;
  position:absolute;
  left:957px;
  top:70px;
  width:132px;
  height:38px;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#343434;
  text-align:center;
}
#u1243_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u1244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u1244 {
  border-width:0px;
  position:absolute;
  left:907px;
  top:67px;
  width:50px;
  height:40px;
  color:#000144;
}
#u1244_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1245 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#343434;
  text-align:center;
}
#u1246 {
  border-width:0px;
  position:absolute;
  left:1432px;
  top:72px;
  width:153px;
  height:38px;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#343434;
  text-align:center;
}
#u1246_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u1247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:50px;
}
#u1247 {
  border-width:0px;
  position:absolute;
  left:1379px;
  top:62px;
  width:53px;
  height:50px;
}
#u1247_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1248 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#343434;
}
#u1249 {
  border-width:0px;
  position:absolute;
  left:1118px;
  top:170px;
  width:300px;
  height:50px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#343434;
}
#u1249_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:300px;
  word-wrap:break-word;
}
#u1250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#343434;
}
#u1250 {
  border-width:0px;
  position:absolute;
  left:1118px;
  top:220px;
  width:315px;
  height:50px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#343434;
}
#u1250_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:315px;
  word-wrap:break-word;
}
#u1251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:163px;
}
#u1251 {
  border-width:0px;
  position:absolute;
  left:1098px;
  top:106px;
  width:1px;
  height:162px;
}
#u1251_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#343434;
}
#u1252 {
  border-width:0px;
  position:absolute;
  left:1118px;
  top:120px;
  width:300px;
  height:50px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#343434;
}
#u1252_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:300px;
  word-wrap:break-word;
}
#u1253 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#343434;
}
#u1254 {
  border-width:0px;
  position:absolute;
  left:1391px;
  top:168px;
  width:300px;
  height:50px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#343434;
}
#u1254_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:300px;
  word-wrap:break-word;
}
#u1255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#343434;
}
#u1255 {
  border-width:0px;
  position:absolute;
  left:1391px;
  top:218px;
  width:315px;
  height:50px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#343434;
}
#u1255_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:315px;
  word-wrap:break-word;
}
#u1256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:165px;
}
#u1256 {
  border-width:0px;
  position:absolute;
  left:1371px;
  top:104px;
  width:1px;
  height:164px;
}
#u1256_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#343434;
}
#u1257 {
  border-width:0px;
  position:absolute;
  left:1391px;
  top:120px;
  width:300px;
  height:50px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#343434;
}
#u1257_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:300px;
  word-wrap:break-word;
}
#u1259 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1260 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1450px;
  width:1920px;
  height:240px;
}
#u1260_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1261 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u1262 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1470px;
  width:200px;
  height:200px;
}
#u1262_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1263_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1263 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:1505px;
  width:582px;
  height:67px;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1263_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  word-wrap:break-word;
}
#u1264 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u1265 {
  border-width:0px;
  position:absolute;
  left:1624px;
  top:1497px;
  width:268px;
  height:43px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u1265_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  word-wrap:break-word;
}
#u1266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:47px;
}
#u1266 {
  border-width:0px;
  position:absolute;
  left:1560px;
  top:1495px;
  width:50px;
  height:47px;
}
#u1266_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1267_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1255px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:32px;
}
#u1267 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:1600px;
  width:1255px;
  height:38px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:32px;
}
#u1267_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1255px;
  word-wrap:break-word;
}
#u1268 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1269_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u1269 {
  border-width:0px;
  position:absolute;
  left:1624px;
  top:1597px;
  width:268px;
  height:43px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u1269_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  word-wrap:break-word;
}
#u1270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:46px;
}
#u1270 {
  border-width:0px;
  position:absolute;
  left:1560px;
  top:1596px;
  width:50px;
  height:46px;
}
#u1270_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(178, 3, 10, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  font-size:42px;
  color:#B2030A;
  text-align:center;
}
#u1271 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:1920px;
  height:82px;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  font-size:42px;
  color:#B2030A;
  text-align:center;
}
#u1271_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:1920px;
  word-wrap:break-word;
}
#u1272 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1273 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:440px;
  width:1280px;
  height:87px;
}
#u1273_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:87px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:54px;
  text-decoration:none;
  color:#000144;
  text-align:left;
}
#u1274_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:95px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1274 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:563px;
  width:1280px;
  height:95px;
}
#u1274_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1275_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#000144;
}
#u1275 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:563px;
  width:202px;
  height:85px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#000144;
}
#u1275_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:202px;
  word-wrap:break-word;
}
#u1276_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#000144;
}
#u1276 {
  border-width:0px;
  position:absolute;
  left:1203px;
  top:563px;
  width:103px;
  height:85px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#000144;
}
#u1276_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:103px;
  word-wrap:break-word;
}
#u1277 {
  border-width:0px;
  position:absolute;
  left:1316px;
  top:573px;
  width:230px;
  height:65px;
}
#u1277_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:65px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  text-decoration:none;
  color:#000144;
  text-align:left;
}
#u1278_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:55px;
  background:inherit;
  background-color:rgba(0, 1, 68, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#000144;
  text-align:center;
}
#u1278 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:1336px;
  width:480px;
  height:55px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#000144;
  text-align:center;
}
#u1278_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:480px;
  word-wrap:break-word;
}
#u1279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:639px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:52px;
}
#u1279 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:658px;
  width:1280px;
  height:639px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:52px;
}
#u1279_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1280 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:865px;
  width:540px;
  height:85px;
}
#u1280_input {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:85px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:54px;
  text-decoration:none;
  color:#000144;
  text-align:center;
}
#u1281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:149px;
}
#u1281 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:974px;
  width:201px;
  height:149px;
}
#u1281_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1282 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:573px;
  width:527px;
  height:65px;
}
#u1282_input {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:65px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  text-decoration:none;
  color:#000000;
}
#u1282_input:disabled {
  color:grayText;
}
#u1283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#000144;
}
#u1283 {
  border-width:0px;
  position:absolute;
  left:1556px;
  top:568px;
  width:34px;
  height:85px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#000144;
}
#u1283_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:34px;
  word-wrap:break-word;
}
