body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:320px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:960px;
  width:640px;
  height:320px;
}
#u194_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:240px;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:1269px;
  top:1030px;
  width:221px;
  height:240px;
}
#u195_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#B2030A;
  text-align:center;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:960px;
  width:640px;
  height:73px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#B2030A;
  text-align:center;
}
#u196_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:15px;
  width:640px;
  word-wrap:break-word;
}
#u198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:300px;
}
#u198_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:240px;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:240px;
  height:240px;
}
#u199_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:54px;
  width:582px;
  height:67px;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u200_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  word-wrap:break-word;
}
#u201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:35px;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:1098px;
  top:72px;
  width:1px;
  height:34px;
}
#u201_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:35px;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:1371px;
  top:70px;
  width:1px;
  height:34px;
}
#u202_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#000144;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:1650px;
  top:37px;
  width:176px;
  height:38px;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#000144;
}
#u204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  word-wrap:break-word;
}
#u205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:1826px;
  top:35px;
  width:50px;
  height:42px;
}
#u205_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#000144;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:1650px;
  top:102px;
  width:175px;
  height:38px;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#000144;
}
#u207_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:38px;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:1825px;
  top:101px;
  width:50px;
  height:38px;
}
#u208_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#343434;
  text-align:center;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:70px;
  width:207px;
  height:38px;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#343434;
  text-align:center;
}
#u210_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  word-wrap:break-word;
}
#u211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:48px;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:1109px;
  top:62px;
  width:45px;
  height:48px;
}
#u211_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#343434;
  text-align:center;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:957px;
  top:70px;
  width:132px;
  height:38px;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#343434;
  text-align:center;
}
#u213_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:907px;
  top:67px;
  width:50px;
  height:40px;
  color:#000144;
}
#u214_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#343434;
  text-align:center;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:1432px;
  top:72px;
  width:153px;
  height:38px;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#343434;
  text-align:center;
}
#u216_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:50px;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:1379px;
  top:62px;
  width:53px;
  height:50px;
}
#u217_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#343434;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:1118px;
  top:170px;
  width:300px;
  height:50px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#343434;
}
#u219_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:300px;
  word-wrap:break-word;
}
#u220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#343434;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:1118px;
  top:220px;
  width:315px;
  height:50px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#343434;
}
#u220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:315px;
  word-wrap:break-word;
}
#u221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:163px;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:1098px;
  top:106px;
  width:1px;
  height:162px;
}
#u221_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#343434;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:1118px;
  top:120px;
  width:300px;
  height:50px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#343434;
}
#u222_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:300px;
  word-wrap:break-word;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#343434;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:1391px;
  top:168px;
  width:300px;
  height:50px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#343434;
}
#u224_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:300px;
  word-wrap:break-word;
}
#u225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#343434;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:1391px;
  top:218px;
  width:315px;
  height:50px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#343434;
}
#u225_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:315px;
  word-wrap:break-word;
}
#u226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:165px;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:1371px;
  top:104px;
  width:1px;
  height:164px;
}
#u226_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#343434;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:1391px;
  top:120px;
  width:300px;
  height:50px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#343434;
}
#u227_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:300px;
  word-wrap:break-word;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1440px;
  width:1920px;
  height:240px;
}
#u230_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1460px;
  width:200px;
  height:200px;
}
#u232_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:1495px;
  width:582px;
  height:67px;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u233_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  word-wrap:break-word;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:1624px;
  top:1487px;
  width:268px;
  height:43px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u235_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  word-wrap:break-word;
}
#u236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:47px;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:1560px;
  top:1485px;
  width:50px;
  height:47px;
}
#u236_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1255px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:32px;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:1590px;
  width:1255px;
  height:38px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:32px;
}
#u237_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1255px;
  word-wrap:break-word;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:1624px;
  top:1587px;
  width:268px;
  height:43px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u239_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  word-wrap:break-word;
}
#u240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:46px;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:1560px;
  top:1586px;
  width:50px;
  height:46px;
}
#u240_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(178, 3, 10, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  font-size:42px;
  color:#B2030A;
  text-align:center;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:1920px;
  height:82px;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  font-size:42px;
  color:#B2030A;
  text-align:center;
}
#u241_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:1920px;
  word-wrap:break-word;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:320px;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:531px;
  width:640px;
  height:320px;
}
#u243_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#B2030A;
  text-align:center;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:458px;
  width:640px;
  height:73px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#B2030A;
  text-align:center;
}
#u244_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:15px;
  width:640px;
  word-wrap:break-word;
}
#u245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000144;
  text-align:center;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:851px;
  width:640px;
  height:55px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000144;
  text-align:center;
}
#u245_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:640px;
  word-wrap:break-word;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:320px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:960px;
  width:640px;
  height:320px;
}
#u247_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#B2030A;
  text-align:center;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:960px;
  width:640px;
  height:73px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#B2030A;
  text-align:center;
}
#u248_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:15px;
  width:640px;
  word-wrap:break-word;
}
#u249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:240px;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:1030px;
  width:221px;
  height:240px;
}
#u249_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:55px;
  background:inherit;
  background-color:rgba(178, 3, 10, 0.219607843137255);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#B2030A;
  text-align:center;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:1361px;
  width:480px;
  height:55px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#B2030A;
  text-align:center;
}
#u250_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:480px;
  word-wrap:break-word;
}
