
#Evenements{
	text-align:center;
}

#Evenements h3{
	font-size:40px;
}

.monthevent{
	width: 1000px;
	display: inline-block;
	text-align:center;
	background:#E2E2E2;
	margin: 20px 20%;
}

.EventThumbnail{
	max-width:90%;
}

#eventclick{
	text-align:center;
	letter-spacing:300px;
	text-transform:underline;
	margin: 20px 0;
}



#allevents{
	display: inline-block;
	background: #E2E2E2;
	color: #B7030D;
	width: 300px;
	height: 300px;
    border-radius:20px;
	letter-spacing:0px;
	text-decoration:none;
}

#allevents p:after{
	content:"\E84B";
	font: 100px 'fontello';
}

#allevents:hover{
	background: #f18186;
	color:#FFFFFF
}

#proposeevent{
	display: inline-block;
	background: #E2E2E2;
	color: #B7030D;
	width: 300px;
	height: 300px;
    border-radius:20px;
	letter-spacing:0px;
	text-decoration:none;
}

#proposeevent p:after{
	content:"\E84B";
	font: 100px 'fontello';
}

#proposeevent:hover{
	background: #f18186;
	color:#FFFFFF
}