
.icon-facebook-circled:before { content: '\f051'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-snapchat-ghost:before { content: '\f2ac'; } /* '' */