html, body {
	height: 100%;
	margin: 0; padding: 0;
}
body {
	display : table;
	width: 100%;
	background-color: #D7D7D7;
    font-family: 'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
}




/*_______________________________________________________________________________________________________Header____________________________________________________________________________________________________________________*/


header{
background-color: white;
height: 250px;
}

#LogoBDE{
	width: 15%;
	height: 85%;
	
}

.LogoBDE{
  border-width:0px;
  float: left;
  margin-top: 10px;
  height: 100%;
}


.session {
float: right;
width: 15%;
}
.session a  {
	display: block;
	margin:40px 5px;
	text-decoration: none;
	color: #000144;
	font-size: 30px;
}
.session p{
	display: block;
	margin:40px 5px;
	text-decoration: none;
	color: #000144;
	font-size: 30px;	
}

.sessionsignup:after{
	position: relative;
	content:"\F234";
	font: 2em/40px 'fontello';
	text-align: center;
	padding-left: 10px;
	color: #000144;
}
.sessionlogin:after{
	position: relative;
	content:"\E849";
	font: 2em/40px 'fontello';
	text-align: center;
	padding-left: 10px;
	color: #000144;
}
.sessionsignout:after{
		position: relative;
	content:"\E84A";
	font: 2em/40px 'fontello';
	text-align: center;
	padding-left: 10px;
	color: #000144;
}
.sessionlog:after{
	position: relative;
	content:"\E84A";
	font: 2em/40px 'fontello';
	text-align: center;
	padding-left: 10px;
	color: #000144;
}


#BDEHeader{
border-width: 0px;
margin-top: 50px;
    width: 30%;
  /*  height: 67px;*/
	font-size: 30px;
    font-style: normal;
    text-align: center;
}
#BDEHeader a{
	text-decoration: none;
	color: #B7030D;
	/*rouge: #B7030D*/
}
#BDEHeader span:first-child{
color : #000144;	
}
#BDEHeader span:last-child{
color : #343434;	
}

#top{
	display: flex;
	justify-content: space-between;
	height: 250px;
}

/*____________________________________________________________________________________________________Menu déroulant_______________________________________________________________________________________________________________*/

nav{
width: 55%;	
}

nav ul li{
display: inline-block;
margin: 55px 20px;
text-decoration: none;
color: #000144;
font-size: 25px;
}

nav li{
	list-style-type:none;
}
nav ul li{
float: left;
position: relative;
}
nav ul::after{
content: "";
display: block;
clear: both;	
}
.submenu{
display: none;	
}
nav input[type=checkbox]{
	display: none;
}
nav label{
	display: none;
}
nav a{
	display: inline-block;
	text-decoration: none;
}
nav ul li a{
	padding: 10px 30px;
	color: #343434;
}
nav li:hover .submenu{
	display: inline-block;
	position: absolute;
	top: 65px;
	left: 0px;
	padding: 0px;
	z-index: 10;
	border-top : 1px solid #B7030D;
	background-color: rgb(240, 240, 240);
}
ul .submenu{
background-color: #FFFFFF;
}
.submenu li{
	border-bottom: 1px solid #B7030D;
	margin: 15px;
}
.submenu li a{
		/*padding: 15px 30px;*/
		font-size: 20px;
		color: #222538;
		width: 270px;
}
.submenu li a:before {
	position: relative;
	content:"\E84F";
	font: 2em/40px 'fontello';
	text-align: center;
	padding-right: 10px;
	color: #B7030D;
}

.accueilnav:hover{
	border-top : 5px solid #B7030D;
	background-color: rgb(240, 240, 240);
}
.evenementsnav:hover{
	border-top : 5px solid #B7030D;
	background-color: rgb(240, 240, 240);
}
.boutiquenav:hover{
	border-top : 5px solid #B7030D;
	background-color: rgb(240, 240, 240);
}


.accueilnav:before {
	position: relative;
	content:"\E84C";
	font: 2em/40px 'fontello';
	text-align: center;
	padding-right: 10px;
	color: #B7030D;
}
.evenementsnav:before {
	position: relative;
	content:"\E84B";
	font: 2em/40px 'fontello';
	text-align: center;
	padding-right: 10px;
	color: #B7030D;
}
.boutiquenav:before {
	position: relative;
	content:"\E843";
	font: 2em/40px 'fontello';
	text-align: center;
	padding-right: 10px;
	color: #B7030D;
}






/*__________________________________________________________________________________________________Début chaque page______________________________________________________________________________________________________________*/


#connexion{
	min-height:400px;
}

#banniere{
    border-width: 0px;
	/*position: bottom;*/
    left: 0px;
    top: 250px;
    width: 100%;
    height: 80px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(178, 3, 10, 1);
    border-radius: 0px;
    box-shadow: none;
    font-weight: 700;
    font-style: normal;
    font-size: 42px;
    color: #B2030A;
    text-align: center;
}

#banniere h2{
	border-width: 0px;
    left: 0px;
	margin: 5px 0;
    width: 100%;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    color: #B2030A;
    text-align: center;
	padding: 5px;
}
/*_________________________________________________________________________________________________________Accueil_________________________________________________________________________________________________________________*/
.AccueilCategorie{
	text-align: center;
	padding: 40px;
}

.Ah3 h3{
    font-weight: 400;
    font-size: 36px;
    color: #B2030A;	
}


/*_____________________________________________________________________________________________________TousLesProduits_____________________________________________________________________________________________________________*/

.Ph3 h3{
	font-weight: 400;
    font-size: 36px;
    color: #B2030A;
}
#TousLesProduits #tlproduits{
	border-style: solid;
	border-color: #B2030A;
	border-top-width: 2px;
	border-bottom: none;
	border-left: 0;
	border-right: 0;
}
.TLPcategories{
	text-align: center;
	padding: 40px
}
#search form{
	width: 400px;
    display: inline-block;
    margin: 20px 0px;
    background: #E2E2E2;
}
	

/*_______________________________________________________________________________________________________Inscription_______________________________________________________________________________________________________________*/

#register{
	text-align: center;
}

#register form{
	width: 400px;
    display: inline-block;
    margin: 20px 0px;
    background: #E2E2E2;
}



#register input{
	width:300px;
	height:20px;
    margin:5px 0;
    padding:5px;
    align-self:center;
    background:#FFF;
    border:1px solid #000000;
    border-radius:5px;
    font-size:15px;
    letter-spacing:2px;
    
}

/*#signupbutton{
    
	width:200px;
    height:40px;    
    border-radius:5px;
    font-size:18px;
	color:white;
    letter-spacing:2px;
    background:#B2030A;
    border:none;
	font-style:bold;
    
  }*/

  #signupbutton:after{
	position: relative;
	content:"\F234";
	font: 1.5em/25px 'fontello';
	text-align: center;
	padding-left: 10px;
	color: #FFFFFF;
}

.uname, .youpasswd{
	font-size:20px;
}
  
/*_______________________________________________________________________________________________________Connexion________________________________________________________________________________________________________________*/

/*.sectionconnexion{
min-height: 500px;
}	*/

.animateform{
margin-top: 100px;
margin-bottom: 100px;
}

#login{
	text-align: center;
}

#login form{
	width: 400px;
    display: inline-block;
    margin: 20px 0px;
    background: #E2E2E2;
}

#login input{
	width:300px;
	height:20px;
    margin:5px 0;
    padding:5px;
    align-self:center;
    background:#FFF;
    border:1px solid #000000;
    border-radius:5px;
    font-size:15px;
    letter-spacing:2px;
}
  #loginbutton:after{
	position: relative;
	content:"\E849";
	font: 1.5em/25px 'fontello';
	text-align: center;
	padding-left: 10px;
	color: #FFFFFF;
}

.loginscrcon{							/*_____loginscrcon = class des boutons inscription et connexion______*/
    
	width:200px;
    height:40px;    
    border-radius:5px;
    font-size:18px;
	color:white;
    letter-spacing:2px;
    background:#B2030A;
    border:none;
	font-style:bold;
    
  }
  .loginscrcon:active{  
	background: #f18186;
	color: #FFFFFF;
}


  
/*____________________________________________________Footer___________________________________________*/

footer {
	width: 100%;
	background-color: white;
	/*bottom: 0;*/
	position: absolute;
	
}

#bottom{
display: flex;	
justify-content: space-between;
}
	
#LogoRetourAccueil{
width: 120px;
height: auto;
}

.RetourAccueil{
	padding : 5px;
	height: auto;
	width: 100%;
}

#TexteRetourAccueil{
margin: auto;
}

#TexteRetourAccueil a{
	width: 40%;
	text-decoration: none;
	font-size: 300%;
	padding: 0;
	color: #B7030D;
	
}

#TexteRetourAccueil span:first-child{
color : #000144;	
}
#TexteRetourAccueil span:last-child{
color : #343434;	
}

#contact{
	display: inline-block;
	position: right;
/*float: right;*/
	text-decoration:none;
	margin: auto;
}
#contact a{
/*display: inline-block;*/
text-decoration:none;
margin: 5px;
}

#external-link {
display: inline-block;
}
.extern {
display: inline-block;
padding : 10px;
vertical-align:top;
width: 45px;
height: 45px;
background: white;
text-align:center;
color: #343434;
}
.extern:hover {
background: #343434;
color: white;
}
.extern:after {
position: relative;
content:"\E808";
font: 1.8em/25px 'fontello';
text-align: center;
}

.fb:after {
content: "\F30C";
}
.twitter:after {
content: "\F309";
}
.linkedin:after {
content: "\F0E1";
}
.youtube:after {
content: "\F167";
}
.instagram:after {
content: "\E808";
}
.mail:after {
content: "\E81A";
}

.Mentionslegales:before {
font: 2em/40px 'fontello';
content: "\E847";
}


#MentionsLegales{
font-size: 150%;
bottom: 5%;
text-decoration: none;
width: 20%;
	margin: auto;
}

#MentionsLegales a {
text-decoration: none;
color: #343434;
}

#FlecheHautDePage{
	display: scroll;
	position: fixed;
	bottom: 50px;
	right: 15px;
}
