html, body {
	height: 100%;
	margin: 0; padding: 0;
}
body {
	display : table;
	width: 100%;
	background-color: #D7D7D7;
    font-family: 'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
}





/*_______________________________________________________________________________________________________Header____________________________________________________________________________________________________________________*/


header{
background-color: white;
height: 250px;
}

#LogoBDE{
	width: 15%;
	height: 85%;
	
}

.LogoBDE{
  border-width:0px;
  float: left;
  margin-top: 10px;
  height: 100%;
}


.session {
float: right;
width: 15%;
}
.session a  {
	display: block;
	margin:40px 5px;
	text-decoration: none;
	color: #000144;
	font-size: 30px;
}
.session p{
	display: block;
	margin:40px 5px;
	text-decoration: none;
	color: #000144;
	font-size: 30px;	
}

.sessionsignup:after{
	position: relative;
	content:"\F234";
	font: 2em/40px 'fontello';
	text-align: center;
	padding-left: 10px;
	color: #000144;
}
.sessionlogin:after{
	position: relative;
	content:"\E849";
	font: 2em/40px 'fontello';
	text-align: center;
	padding-left: 10px;
	color: #000144;
}
.sessionsignout:after{
		position: relative;
	content:"\E84A";
	font: 2em/40px 'fontello';
	text-align: center;
	padding-left: 10px;
	color: #000144;
}
.sessionlog:after{
	position: relative;
	content:"\E84A";
	font: 2em/40px 'fontello';
	text-align: center;
	padding-left: 10px;
	color: #000144;
}



#BDEHeader{
border-width: 0px;
margin-top: 50px;
    width: 30%;
  /*  height: 67px;*/
	font-size: 30px;
    font-style: normal;
    text-align: center;
}

#BDEHeader h1{
	font-size: 45px;
}

#BDEHeader a{
	text-decoration: none;
	color: #B7030D;
	/*rouge: #B7030D*/
}
#BDEHeader span:first-child{
color : #000144;	
}
#BDEHeader span:last-child{
color : #343434;	
}

#top{
	display: flex;
	justify-content: space-between;
	height: 250px;
}

/*____________________________________________________________________________________________________Menu déroulant_______________________________________________________________________________________________________________*/

nav{
width: 55%;	
}

nav ul li{
display: inline-block;
margin: 55px 20px;
text-decoration: none;
color: #000144;
font-size: 25px;
}

nav li{
	list-style-type:none;
}
nav ul li{
float: left;
position: relative;
}
nav ul::after{
content: "";
display: block;
clear: both;	
}
.submenu{
display: none;	
}
nav input[type=checkbox]{
	display: none;
}
nav label{
	display: none;
}
nav a{
	display: inline-block;
	text-decoration: none;
}
nav ul li a{
	padding: 10px 30px;
	color: #343434;
}
nav li:hover .submenu{
	display: inline-block;
	position: absolute;
	top: 65px;
	left: 0px;
	padding: 0px;
	z-index: 10;
	border-top : 1px solid #B7030D;
	background-color: rgb(240, 240, 240);
}
ul .submenu{
background-color: #FFFFFF;
}
.submenu li{
	border-bottom: 1px solid #B7030D;
	margin: 15px;
}
.submenu li a{
		/*padding: 15px 30px;*/
		font-size: 20px;
		color: #222538;
		width: 270px;
}
.submenu li a:before {
	position: relative;
	content:"\E84F";
	font: 2em/40px 'fontello';
	text-align: center;
	padding-right: 10px;
	color: #B7030D;
}

.accueilnav:hover{
	border-top : 5px solid #B7030D;
	background-color: rgb(240, 240, 240);
}
.evenementsnav:hover{
	border-top : 5px solid #B7030D;
	background-color: rgb(240, 240, 240);
}
.boutiquenav:hover{
	border-top : 5px solid #B7030D;
	background-color: rgb(240, 240, 240);
}


.accueilnav:before {
	position: relative;
	content:"\E84C";
	font: 2em/40px 'fontello';
	text-align: center;
	padding-right: 10px;
	color: #B7030D;
}
.evenementsnav:before {
	position: relative;
	content:"\E84B";
	font: 2em/40px 'fontello';
	text-align: center;
	padding-right: 10px;
	color: #B7030D;
}
.boutiquenav:before {
	position: relative;
	content:"\E843";
	font: 2em/40px 'fontello';
	text-align: center;
	padding-right: 10px;
	color: #B7030D;
}






/*__________________________________________________________________________________________________Début chaque page______________________________________________________________________________________________________________*/


#connexion{
	min-height:400px;
}

#banniere{
    border-width: 0px;
	/*position: bottom;*/
    left: 0px;
    top: 250px;
    width: 100%;
    height: 80px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(178, 3, 10, 1);
    border-radius: 0px;
    box-shadow: none;
    font-weight: 700;
    font-style: normal;
    font-size: 42px;
    color: #B2030A;
    text-align: center;
}

#banniere h2{
	border-width: 0px;
	margin: 5px 0;
    width: 100%;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    color: #B2030A;
    text-align: center;
	padding: 5px 0;
}
/*_________________________________________________________________________________________________________Accueil_________________________________________________________________________________________________________________*/
.AccueilCategorie{
	text-align: center;
	padding: 20px;
}

.Ah3{
    font-size: 40px;
    color: #B2030A;	
}


/*__________________________________________________________________________________________________Accueil Événements_____________________________________________________________________________________________________________*/

#Evenements{
	text-align:center;
	color:#000144;
}

#Evenements h3{
	font-size:40px;
	
}

.monthevent{
	text-align:center;
	background:#E2E2E2;
	margin:20px 20%;
	padding:5px 0;
}

.monthevent h3{
	text-align:center;
	background:#000144;
	color:white;
	margin: 20px 30%;
    padding: 10px;
    border-radius: 5px;
}

.monthevent a{
	font-size: 40px;
	color:  #000000;
	text-decoration:none;
	
}

.monthevent p{
	margin-top:10px;
	margin-bottom:10px;
}

.EventThumbnail{
	width: auto;
    display: block;
    height: 100%;
    margin: 0 auto;
}
.EventListView {
	position: relative;
    width: 100%;
    height: 500px;
	text-align: center;
}

#eventclick{
	text-align:center;
	letter-spacing:300px;
	margin: 20px 0;
}



#allevents{
	display: inline-block;
	background: #E2E2E2;
	color: #B7030D;
	width: 300px;
	height: 300px;
    border-radius:20px;
	letter-spacing:0px;
	text-decoration:none;
}

#allevents p:after{
	content:"\E84B";
	font: 100px 'fontello';
}

#allevents:hover{
	background: #f18186;
	color:#FFFFFF
}

#proposeevent{
	display: inline-block;
	background: #E2E2E2;
	color: #B7030D;
	width: 300px;
	height: 300px;
    border-radius:20px;
	letter-spacing:0px;
	text-decoration:none;
}

#proposeevent p:after{
	content:"\F271";
	font: 100px 'fontello';
}

#proposeevent:hover{
	background: #f18186;
	color:#FFFFFF
}


/*___________________________________________________________________________________________________Événement Unique_______________________________________________________________________________________________________________*/

#EvenementUnique a{
	text-decoration:none;
}

.TheEvent{
	text-align:center;
	background:#E2E2E2;
	margin:20px 20%;
	padding:5px 50px;
}

.EventTitle{
	font-size:40px;
	color:#000144;
}

.EventThumbnail{
	
}

.EventDate{
	display:inline-block;
	min-width:1%;
	font-size: 35px ;
	background:#000144;
	color:white;
	border-radius:10px;
	padding:2px 5px;
}

.EventPrice{
	display:inline-block;
	width:20%;
	font-size: 40px ;
	background:#B2030A;
	color:white;
	border-radius:10px;
	margin:20px 10%;
}

.EventText{
	font-size:20px;
	text-align:center;
	line-height:40px;
	padding: 0 5px;
    margin: 10px 40px;
	background: #FFF;
}

.participnb{
	display:inline-block;
	min-width:1%;
	font-size: 35px ;
	background:#000144;
	color:white;
	border-radius:10px;
	padding:2px 5px;
	margin-left: 30%;
	margin-right: 5%;
	margin-top:5px;
}

.participate{
	display:inline-block;
	min-width:2%; 
    border-radius:10px;
    font-size:35px;
	color:white;
    letter-spacing:2px;
    background:#B2030A;
    border:none;
	padding:2px 5px;
}

.participate:active{  
	background: #f18186;
	color: #FFFFFF;
}

.Pic{ 

	padding: 10px 50px;
}

.DLCSV{
	position:absolute;
	float:right;
}

.DLCSV:before{
	position: relative;
	font: 25px 'fontello';
	content:"\E81C";
	text-align: center;
	padding-right: 10px;
	color: white;
}

.DLCSV:active{  
	background: #f18186;
	color: #FFFFFF;
}

.IDPic, #IDEvent{
	display:none;
}

#PostImage{
	margin-left:auto;
	margin-right:auto;
	width:700px;
	text-align:center;
	background: #E2E2E2;
	border-radius: 10px;
	padding: 5px 0;
}

#PostImage p{
	font-size: 30px ;
	color: #000144;
}

#URLImage{
	width:500px;
	height:10px;
    margin:5px 0;
    padding:5px;
    background:#FFF;
    border:1px solid #000000;
    border-radius:5px;
    font-size:15px;
}

.PicAndCom{
	margin-left:auto;
	margin-right:auto;
	padding-bottom:10px;
	width:1000px;
	text-align:center;
	background: #E2E2E2;
	margin-bottom:20px;
	margin-top:20px;
	border-radius:5px;
}

.Pic{
	padding: 10px 0;
    max-width: 100%;
}

.PicAndCom h3{
	font-size:30px;
}

.PicAndCom .signal{
	display: inline-block;
    height: 30px;
    text-decoration: none;
    width: 250px;
    padding: 5px 0;
}

.like{
	display: inline-block;
    height: 30px;
    text-decoration: none;
    padding: 5px 0;
	min-width:10%;  
    border-radius:5px;
    font-size:16px;
	color:white;
    background:#000144;
    border:none;
	margin-right:10px;
}

.like:active{  
	background: #b2b2c6;
	color: #FFFFFF;
}

.like:before{  
	position: relative;
	content:"\E842";
	font: 25px 'fontello';
	text-align: center;
	padding-right: 10px;
	color: white;
}

.likesnb{
	display: inline-block;
    height: 30px;
    text-decoration: none;
    padding: 5px 1px;
	min-width:10%;  
    border-radius:5px;
    font-size:16px;
	color:white;
    background:#000144;
    border:none;
}

.likesnb:before{  
	position: relative;
	content:" ";
	font: 25px 'fontello';
	text-align: center;
	padding-right: 10px;
	color: white;
}

.PicAndCom p{
	/*font-size: 30px;*/
	/*margin:5px 0;*/
}

.Content{
	width:80%;
	height:75px;
    margin:5px 0;
    padding:5px;
    background:#FFF;
    border:1px solid #000000;
    border-radius:5px;
    font-size:15px;

}

.ConfirmButton{
	margin:0 0;
}

.comment{ 
	width:200px;
    height:50px;    
    border-radius:5px;
    font-size:18px;
	color:white;
    letter-spacing:2px;
    background:#B2030A;
    border:none;
    margin: 10px 0;
}

.comment:active{  
	background: #f18186;
	color: #FFFFFF;
}

.CommentName{
	width:250px;
    height:35px;    
    border-radius:5px;
    font-size:20px;
	color:white;
	text-align:center;
    background:#000144;
    border:none;
	padding-top:5px;
	margin-left:20px;
	margin-bottom:5px;
	margin-top:2px;
}

.CommentContent{
	margin:0 10px;
    padding:5px;
    background:#FFF;
    border:1px solid #000000;
    border-radius:5px;
    font-size:20px;
	text-align:justify;
}
/*___________________________________________________________________________________________________Liste événement________________________________________________________________________________________________________________*/
.EventListContainer{
	text-align:center;
	background:#E2E2E2;
	margin:20px 20%;
	padding:5px 0;
}
.TitleEvent{
	width:100%;
	padding: 15px;
	font-size: 40px;
	color:  #000000;
	text-decoration:none;
}



/*_____________________________________________________________________________________________________Boite à idées________________________________________________________________________________________________________________*/

#sectionboiteaidees{
	text-align:center;
}

.proposition{
	text-align:center;
	background:#E2E2E2;
	margin: 20px 20%;
	padding:5px 0;
}

textarea{
	width:1000px;
	height:150px;
    margin:5px 0;
    padding:5px;
    background:#FFF;
    border:1px solid #000000;
    border-radius:5px;
    font-size:15px;
}

#propose{ 
	width:200px;
    height:60px;    
    border-radius:5px;
    font-size:18px;
	color:white;
    letter-spacing:2px;
    background:#B2030A;
    border:none;
    
}

#propose:active{  
	background: #f18186;
	color: #FFFFFF;
}

.ideavote{
	background:#E2E2E2;
	margin: 20px 20%;
	padding:5px 0;
}

.BAIh3{
	text-align:center;
	color: #000144;
	font-size: 40px;
}

.IdeeName{
	width:250px;
    height:25px;    
    border-radius:5px;
    font-size:20px;
	color:white;
	text-align:center;
    background:#000144;
    border:none;
	padding-top:5px;
	margin-left:20px;
	margin-bottom:5px;
	margin-top:2px;
}

.IdeeContent{
	margin:0 10px;
    padding:5px;
    background:#FFF;
    border:1px solid #000000;
    border-radius:5px;
    font-size:20px;
}

.vote{
	text-align:center;
	background:white;
	margin: 20px;
	padding:5px 0;
	border-radius: 10px;
}

.vote form{
	display:inline;
}

.vote button, .signal, .DLCSV{
	min-width:20%;
    height:50px;    
    border-radius:5px;
    font-size:16px;
	color:white;
    background:#B2030A;
    border:none;
	margin: 8px 10px;
}





.votefor:before{
	position: relative;
	content:"\E842";
	font: 25px 'fontello';
	text-align: center;
	padding-right: 10px;
	color: white;
}

.votefor:active{  
	background: #f18186;
	color: #FFFFFF;
}

.signal:before{
	position: relative;
	content:"\E850";
	font: 25px 'fontello';
	text-align: center;
	padding-right: 10px;
	color: white;
}

.signal:active{  
	background: #f18186;
	color: #FFFFFF;
}

.createevent:before{
	position: relative;
	content:"\F271";
	font: 25px 'fontello';
	text-align: center;
	padding-right: 10px;
	color: white;
}

.createevent:active{  
	background: #f18186;
	color: #FFFFFF;
}

/*_____________________________________________________________________________________________________Ajout événement____________________________________________________________________________________________________________*/

#AjoutEvenement{
	text-align: center;
}

#AjoutEvenement input{
	width:300px;
	height:30px;
    margin:5px 0;
    padding:5px;
    align-self:center;
    background:#FFF;
    border:1px solid #000000;
    border-radius:5px;
    font-size:15px;
    letter-spacing:2px;
}

#Price:after{
	position: relative;
	content:"\E821";
	font: 1.3em/25px 'fontello';
	text-align: center;
	padding-left: 10px;
	color: #B2030A;
}

/*_____________________________________________________________________________________________________Accueil Boutique____________________________________________________________________________________________________________*/
#AccueilBoutique .ABh3 h3{
    font-weight: 400;
    font-size: 36px;
    color: #B2030A;
	text-align: center;
}
#BoutiqueAjoutProduit{
	text-align:center;
	width: 30%;
	height:100px;
}
.NouveauProduit:after{
	position: relative;
	content:"\E821";
	font: 1.3em/25px 'fontello';
	text-align: center;
	padding-left: 10px;
	color: #B2030A;
}
.NouveauProduit{
	text-align: center;
    font-weight: 300;
    font-size: 36px;
    color: #B2030A;
	text-decoration: none;
	position: relative;
	right: 0;
	height: 50%;
}

/*_____________________________________________________________________________________________________TousLesProduits_____________________________________________________________________________________________________________*/

.Ph3 h3{
	font-weight: 400;
    font-size: 36px;
    color: #B2030A;
}
#TousLesProduits #tlproduits{
	border-style: solid;
	border-color: #B2030A;
	border-top-width: 2px;
	border-bottom: none;
	border-left: 0;
	border-right: 0;
}
.TLPcategories{
    text-align: center;
    padding: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.ProductName {
	margin:5px 15px 0px;
}
#TousLesProduits .DisplayedProduct .prixbouton{
    width:100%;
	text-align: center;
}

#Recherche{
    background-color: rgba(228, 228, 228, 1);
}
#Recherche input{
    margin:5px 0;
    align-self:center;
    background:#FFF;
    border:1px solid #000000;
    border-radius:5px;
    font-size:15px;
    letter-spacing:2px;
}
#Recherche #boutonRechercher{
 
    border-radius:5px;
    font-size:18px;
	color:#B2030A;
    letter-spacing:2px;
    background: rgba(228, 228, 228, 1);
    border:none;
  }
  
  
#TousLesProduits .DisplayedProduct{
    border: 1px navy solid;
    width: calc(25% - 40px);
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    margin: 0 10px 20px;
    position: relative;
    background: #FFF;
}


#TousLesProduits .prixbouton{
   width:100%;
   text-align: center;
   position: relative;
   vertical-align: top;
   border: 1px solid black;
}
#TousLesProduits .imgproduit {
    height: 400px;
    width: 100%;
    padding:10px;
	position: relative;
}         
#TousLesProduits .imgproduit img{
    width: 100%;
    height: 100%;
	display: block;
	margin:0 auto;
}
#TousLesProduits .DisplayedProduct .prixbouton .Price{
	width: 48%
}	
.bouton{
	border: 1px red solid;
    position: absolute;
    bottom: 0;
    width: 48%;
    right: 0;
    height: 100%;
	font-family: 'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
}	
/*#TousLesProduits #products{
	display: flex;
	weight: 100%;
	height: auto;
	justify-content: space-between;
}*/

.bouton:after{
	position: absolute;
    content: "\E821";
    font: 1.3em/25px 'fontello';
    text-align: center;
    color: #FFFFFF;
    top: 15px;
    right: 15px;
}	
.bouton:active{
	background-color: #B2030A;
}	
  
  
  
/*____________________________________________________________________________________________________Nouveau produit______________________________________________________________________________________________________________*/
  
#FormNewProduit{
	text-align: center;
    margin: 0px 20px;
}

#FormNewProduit form{
	min-height: 250px;
	margin:50px;
	width: 25%;
    display: inline-block;
    background: #E2E2E2;
}

#FormNewProduit input{
	width:300px;
	height:20px;
    margin:5px 0;
    padding:5px;
    align-self:center;
    background:#FFF;
    border:1px solid #000000;
    border-radius:5px;
    font-size:15px;
    letter-spacing:2px;
}

#BoutonAjoutProduit:after{
	position: relative;
	content:"\E821";
	font: 1.3em/25px 'fontello';
	text-align: center;
	padding-left: 10px;
	color: #FFFFFF;
}	
#BoutonAjoutProduit{
	width:200px;
    height:40px;    
    border-radius:5px;
    font-size:18px;
	color:white;
    background:#B2030A;
    border:none;
  }
  
  .BoutonAjoutProduit:active{  
	background: #f18186;
	color: #FFFFFF;
}

  

/*_______________________________________________________________________________________________________Panier____________________________________________________________________________________________________________________*/
  
#CommandeEnAttente{
	position: relative;
    text-align: center;
    padding: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.PanierDisplayedProduct{
	background: #FFF;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    width: 35%;
    margin: 5px 500px;
    justify-content: center;
    align-items: center;
    position: relative;
}
.PanierProductName {
	padding: 0 10px;
	position: relative;
}
.PanierPrice {
	position: relative;
	padding: 0 10px;
}
.PanierQuantity {
	position: relative;
	padding: 0 10px;
}

.minus:before {
	content:"\E822";
	position: absolute;
	top:0;
	left: 5%;
	font: 400 1em/40px 'fontello';
}
.PanierQuantity:after {
	content:"";
	position: absolute;
	top:10%;
	right:0;
	background: black;
	width: 1px;
	height: 80%;
}
.PanierQuantity:before {
	content:"";
	position: absolute;
	top:10%;
	left:0;
	background: black;
	width: 1px;
	height: 80%;
}

 .plus:before {
	content:"\E821";
	position: absolute;
	top:0;
	left: 8%;
	font: 400 1em/40px 'fontello';
 }
 .multiplication:before {
	content:"\E820";
	position: absolute;
	top:0;
	left: 11%;
	font: 400 1em/40px 'fontello';
 }
  
  
  
/*_______________________________________________________________________________________________________Inscription_______________________________________________________________________________________________________________*/

#register{
	text-align: center;
}

#register form{
	width: 400px;
    display: inline-block;
    margin: 20px 0px;
    background: #E2E2E2;
}



#register input{
	width:300px;
	height:20px;
    margin:5px 0;
    padding:5px;
    align-self:center;
    background:#FFF;
    border:1px solid #000000;
    border-radius:5px;
    font-size:15px;
    letter-spacing:2px;
    
}

/*#signupbutton{
    
	width:200px;
    height:40px;    
    border-radius:5px;
    font-size:18px;
	color:white;
    letter-spacing:2px;
    background:#B2030A;
    border:none;
    
  }*/

  #signupbutton:after{
	position: relative;
	content:"\F234";
	font: 1.5em/25px 'fontello';
	text-align: center;
	padding-left: 10px;
	color: #FFFFFF;
	
}

.uname, .youpasswd{
	font-size:20px;
}
  
/*_______________________________________________________________________________________________________Connexion________________________________________________________________________________________________________________*/

/*.sectionconnexion{
min-height: 500px;
}	*/

.animateform{
margin-top: 100px;
margin-bottom: 100px;
}

#login{
	text-align: center;
}

#login form{
	width: 400px;
    display: inline-block;
    margin: 20px 0px;
    background: #E2E2E2;
}

#login input{
	width:300px;
	height:20px;
    margin:5px 0;
    padding:5px;
    align-self:center;
    background:#FFF;
    border:1px solid #000000;
    border-radius:5px;
    font-size:15px;
    letter-spacing:2px;
}
  #loginbutton:after{
	position: relative;
	content:"\E849";
	font: 1.5em/25px 'fontello';
	text-align: center;
	padding-left: 10px;
	color: #FFFFFF;
}

.loginscrcon{							/*_____loginscrcon = class des boutons inscription et connexion______*/
    
	width:200px;
    height:40px;    
    border-radius:5px;
    font-size:18px;
	color:white;
    letter-spacing:2px;
    background:#B2030A;
    border:none;   
  }
  .loginscrcon:active{  
	background: #f18186;
	color: #FFFFFF;
}
/*________________________________________________________________________________________________Mentions légales________________________________________________________________________________*/
#MentionsLegalesTXT h3{
	color: #000144;
	margin-left: 20px;
	margin-bottom:0;
}

#MentionsLegalesTXT p{
	margin-left: 40px;
	margin-top:2px;
}

/*___________________________________________________________________________________________________Footer_______________________________________________________________________________________*/

footer {
	width: 100%;
	background-color: white;
	position: absolute;
	
}

#bottom{
display: flex;	
justify-content: space-between;
}
	
#LogoRetourAccueil{
width: 120px;
height: auto;
}

.RetourAccueil{
	padding : 5px;
	height: auto;
	width: 100%;
}

#TexteRetourAccueil{
margin: auto;
}

#TexteRetourAccueil a{
	width: 40%;
	text-decoration: none;
	font-size: 300%;
	padding: 0;
	color: #B7030D;
	
}

#TexteRetourAccueil span:first-child{
color : #000144;	
}
#TexteRetourAccueil span:last-child{
color : #343434;	
}

#contact{
	display: inline-block;
/*float: right;*/
	text-decoration:none;
	margin: auto;
}
#contact a{
/*display: inline-block;*/
text-decoration:none;
margin: 5px;
}

.external-link {
display: inline-block;
}
.extern {
display: inline-block;
padding : 10px;
vertical-align:top;
width: 45px;
height: 45px;
background: white;
text-align:center;
color: #343434;
}
.extern:hover {
background: #343434;
color: white;
}
.extern:after {
position: relative;
content:"\E808";
font: 1.8em/45px 'fontello';
text-align: center;
}

.fb:after {
content: "\F30C";
}
.twitter:after {
content: "\F309";
}
.linkedin:after {
content: "\F0E1";
}
.youtube:after {
content: "\F167";
}
.instagram:after {
content: "\E808";
}
.mail:after {
content: "\E81A";
}

.Mentionslegales:before {
font: 2em/40px 'fontello';
content: "\E847";
}


#MentionsLegales{
font-size: 150%;
bottom: 5%;
text-decoration: none;
width: 20%;
	margin: auto;
}

#MentionsLegales a {
text-decoration: none;
color: #343434;
}

#FlecheHautDePage{
	position: fixed;
	bottom: 40px;
	right: 15px;
}
