body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u727 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:449px;
  width:1280px;
  height:87px;
}
#u727_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:87px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:54px;
  text-decoration:none;
  color:#B2030A;
  text-align:left;
}
#u728_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:905px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u728 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:572px;
  width:1280px;
  height:905px;
}
#u728_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u730_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u730 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:300px;
}
#u730_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:240px;
}
#u731 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:240px;
  height:240px;
}
#u731_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u732_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u732 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:54px;
  width:582px;
  height:67px;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u732_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  word-wrap:break-word;
}
#u733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:35px;
}
#u733 {
  border-width:0px;
  position:absolute;
  left:1098px;
  top:72px;
  width:1px;
  height:34px;
}
#u733_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:35px;
}
#u734 {
  border-width:0px;
  position:absolute;
  left:1371px;
  top:70px;
  width:1px;
  height:34px;
}
#u734_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u735 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u736_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#000144;
}
#u736 {
  border-width:0px;
  position:absolute;
  left:1650px;
  top:37px;
  width:176px;
  height:38px;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#000144;
}
#u736_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  word-wrap:break-word;
}
#u737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u737 {
  border-width:0px;
  position:absolute;
  left:1826px;
  top:35px;
  width:50px;
  height:42px;
}
#u737_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u738 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u739_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#000144;
}
#u739 {
  border-width:0px;
  position:absolute;
  left:1650px;
  top:102px;
  width:175px;
  height:38px;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#000144;
}
#u739_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u740_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:38px;
}
#u740 {
  border-width:0px;
  position:absolute;
  left:1825px;
  top:101px;
  width:50px;
  height:38px;
}
#u740_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u741 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u742_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#343434;
  text-align:center;
}
#u742 {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:70px;
  width:207px;
  height:38px;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#343434;
  text-align:center;
}
#u742_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  word-wrap:break-word;
}
#u743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:48px;
}
#u743 {
  border-width:0px;
  position:absolute;
  left:1109px;
  top:62px;
  width:45px;
  height:48px;
}
#u743_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u744 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u745_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#343434;
  text-align:center;
}
#u745 {
  border-width:0px;
  position:absolute;
  left:957px;
  top:70px;
  width:132px;
  height:38px;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#343434;
  text-align:center;
}
#u745_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u746 {
  border-width:0px;
  position:absolute;
  left:907px;
  top:67px;
  width:50px;
  height:40px;
  color:#000144;
}
#u746_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u747 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u748_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#343434;
  text-align:center;
}
#u748 {
  border-width:0px;
  position:absolute;
  left:1432px;
  top:72px;
  width:153px;
  height:38px;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#343434;
  text-align:center;
}
#u748_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:50px;
}
#u749 {
  border-width:0px;
  position:absolute;
  left:1379px;
  top:62px;
  width:53px;
  height:50px;
}
#u749_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u750 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u751_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#343434;
}
#u751 {
  border-width:0px;
  position:absolute;
  left:1118px;
  top:170px;
  width:300px;
  height:50px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#343434;
}
#u751_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:300px;
  word-wrap:break-word;
}
#u752_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#343434;
}
#u752 {
  border-width:0px;
  position:absolute;
  left:1118px;
  top:220px;
  width:315px;
  height:50px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#343434;
}
#u752_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:315px;
  word-wrap:break-word;
}
#u753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:163px;
}
#u753 {
  border-width:0px;
  position:absolute;
  left:1098px;
  top:106px;
  width:1px;
  height:162px;
}
#u753_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u754_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#343434;
}
#u754 {
  border-width:0px;
  position:absolute;
  left:1118px;
  top:120px;
  width:300px;
  height:50px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#343434;
}
#u754_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:300px;
  word-wrap:break-word;
}
#u755 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u756_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#343434;
}
#u756 {
  border-width:0px;
  position:absolute;
  left:1391px;
  top:168px;
  width:300px;
  height:50px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#343434;
}
#u756_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:300px;
  word-wrap:break-word;
}
#u757_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#343434;
}
#u757 {
  border-width:0px;
  position:absolute;
  left:1391px;
  top:218px;
  width:315px;
  height:50px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#343434;
}
#u757_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:315px;
  word-wrap:break-word;
}
#u758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:165px;
}
#u758 {
  border-width:0px;
  position:absolute;
  left:1371px;
  top:104px;
  width:1px;
  height:164px;
}
#u758_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u759_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#343434;
}
#u759 {
  border-width:0px;
  position:absolute;
  left:1391px;
  top:120px;
  width:300px;
  height:50px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#343434;
}
#u759_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:300px;
  word-wrap:break-word;
}
#u761 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u762_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u762 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1602px;
  width:1920px;
  height:240px;
}
#u762_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u763 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u764 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1622px;
  width:200px;
  height:200px;
}
#u764_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u765_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u765 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:1657px;
  width:582px;
  height:67px;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u765_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  word-wrap:break-word;
}
#u766 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u767_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u767 {
  border-width:0px;
  position:absolute;
  left:1624px;
  top:1649px;
  width:268px;
  height:43px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u767_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  word-wrap:break-word;
}
#u768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:47px;
}
#u768 {
  border-width:0px;
  position:absolute;
  left:1560px;
  top:1647px;
  width:50px;
  height:47px;
}
#u768_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u769_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1255px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:32px;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:1752px;
  width:1255px;
  height:38px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:32px;
}
#u769_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1255px;
  word-wrap:break-word;
}
#u770 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u771_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u771 {
  border-width:0px;
  position:absolute;
  left:1624px;
  top:1749px;
  width:268px;
  height:43px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u771_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  word-wrap:break-word;
}
#u772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:46px;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:1560px;
  top:1748px;
  width:50px;
  height:46px;
}
#u772_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u773_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(178, 3, 10, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  font-size:42px;
  color:#B2030A;
  text-align:center;
}
#u773 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:1920px;
  height:82px;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  font-size:42px;
  color:#B2030A;
  text-align:center;
}
#u773_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:1920px;
  word-wrap:break-word;
}
#u774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#000144;
}
#u774 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:572px;
  width:169px;
  height:85px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#000144;
}
#u774_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:169px;
  word-wrap:break-word;
}
#u775_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#000144;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:1007px;
  top:572px;
  width:258px;
  height:85px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#000144;
}
#u775_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:258px;
  word-wrap:break-word;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:582px;
  width:303px;
  height:65px;
}
#u776_input {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:65px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  text-decoration:none;
  color:#B2030A;
  text-align:left;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:1265px;
  top:582px;
  width:160px;
  height:65px;
}
#u777_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:65px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  text-decoration:none;
  color:#B2030A;
  text-align:left;
}
#u778 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:1329px;
  width:1200px;
  height:127px;
}
#u778_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:127px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:rgba(0, 1, 68, 0.8);
  text-align:left;
}
#u779_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:55px;
  background:inherit;
  background-color:rgba(178, 3, 10, 0.219607843137255);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#B2030A;
  text-align:center;
}
#u779 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:1515px;
  width:480px;
  height:55px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#B2030A;
  text-align:center;
}
#u779_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:480px;
  word-wrap:break-word;
}
#u780_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:639px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:52px;
}
#u780 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:667px;
  width:1280px;
  height:639px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:52px;
}
#u780_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u781 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:874px;
  width:540px;
  height:85px;
}
#u781_input {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:85px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:54px;
  text-decoration:none;
  color:#B2030A;
  text-align:center;
}
#u782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:149px;
}
#u782 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:983px;
  width:201px;
  height:149px;
}
#u782_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
