body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:300px;
}
#u132_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:240px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:240px;
  height:240px;
}
#u133_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:54px;
  width:582px;
  height:67px;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u134_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  word-wrap:break-word;
}
#u135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:35px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:1098px;
  top:72px;
  width:1px;
  height:34px;
}
#u135_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:35px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:1371px;
  top:70px;
  width:1px;
  height:34px;
}
#u136_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#000144;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:1650px;
  top:37px;
  width:176px;
  height:38px;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#000144;
}
#u138_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  word-wrap:break-word;
}
#u139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:1826px;
  top:35px;
  width:50px;
  height:42px;
}
#u139_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#000144;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:1650px;
  top:102px;
  width:175px;
  height:38px;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#000144;
}
#u141_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:38px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:1825px;
  top:101px;
  width:50px;
  height:38px;
}
#u142_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#343434;
  text-align:center;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:70px;
  width:207px;
  height:38px;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#343434;
  text-align:center;
}
#u144_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  word-wrap:break-word;
}
#u145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:48px;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:1109px;
  top:62px;
  width:45px;
  height:48px;
}
#u145_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#343434;
  text-align:center;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:957px;
  top:70px;
  width:132px;
  height:38px;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#343434;
  text-align:center;
}
#u147_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:907px;
  top:67px;
  width:50px;
  height:40px;
  color:#000144;
}
#u148_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u150_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#343434;
  text-align:center;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:1432px;
  top:72px;
  width:153px;
  height:38px;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#343434;
  text-align:center;
}
#u150_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:50px;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:1379px;
  top:62px;
  width:53px;
  height:50px;
}
#u151_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#343434;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:1118px;
  top:170px;
  width:300px;
  height:50px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#343434;
}
#u153_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:300px;
  word-wrap:break-word;
}
#u154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#343434;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:1118px;
  top:220px;
  width:315px;
  height:50px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#343434;
}
#u154_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:315px;
  word-wrap:break-word;
}
#u155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:163px;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:1098px;
  top:106px;
  width:1px;
  height:162px;
}
#u155_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#343434;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:1118px;
  top:120px;
  width:300px;
  height:50px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#343434;
}
#u156_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:300px;
  word-wrap:break-word;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#343434;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:1391px;
  top:168px;
  width:300px;
  height:50px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#343434;
}
#u158_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:300px;
  word-wrap:break-word;
}
#u159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#343434;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:1391px;
  top:218px;
  width:315px;
  height:50px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#343434;
}
#u159_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:315px;
  word-wrap:break-word;
}
#u160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:165px;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:1371px;
  top:104px;
  width:1px;
  height:164px;
}
#u160_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#343434;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:1391px;
  top:120px;
  width:300px;
  height:50px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#343434;
}
#u161_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:300px;
  word-wrap:break-word;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1260px;
  width:1920px;
  height:240px;
}
#u164_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1280px;
  width:200px;
  height:200px;
}
#u166_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:1315px;
  width:582px;
  height:67px;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u167_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  word-wrap:break-word;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:1624px;
  top:1307px;
  width:268px;
  height:43px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u169_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  word-wrap:break-word;
}
#u170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:47px;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:1560px;
  top:1305px;
  width:50px;
  height:47px;
}
#u170_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1255px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:32px;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:1410px;
  width:1255px;
  height:38px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:32px;
}
#u171_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1255px;
  word-wrap:break-word;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:1624px;
  top:1407px;
  width:268px;
  height:43px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u173_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  word-wrap:break-word;
}
#u174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:46px;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:1560px;
  top:1406px;
  width:50px;
  height:46px;
}
#u174_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(178, 3, 10, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  font-size:42px;
  color:#B2030A;
  text-align:center;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:1920px;
  height:82px;
  font-family:'Bahnschrift Bold', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  font-size:42px;
  color:#B2030A;
  text-align:center;
}
#u175_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:1920px;
  word-wrap:break-word;
}
#u176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:710px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:500px;
  width:380px;
  height:710px;
}
#u176_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:570px;
  width:320px;
  height:38px;
}
#u177_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:38px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#B2030A;
  text-align:center;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:417px;
  width:640px;
  height:85px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#B2030A;
  text-align:center;
}
#u178_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:21px;
  width:640px;
  word-wrap:break-word;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:40px;
  background:inherit;
  background-color:rgba(178, 3, 10, 0.117647058823529);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#B2030A;
  text-align:left;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:1138px;
  width:211px;
  height:40px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#B2030A;
  text-align:left;
}
#u180_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:207px;
  word-wrap:break-word;
}
#u181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:28px;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:1024px;
  top:1144px;
  width:36px;
  height:28px;
}
#u181_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#B2030A;
  text-align:center;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:520px;
  width:380px;
  height:50px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#B2030A;
  text-align:center;
}
#u182_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:380px;
  word-wrap:break-word;
}
#u183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#B2030A;
  text-align:center;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:618px;
  width:380px;
  height:50px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#B2030A;
  text-align:center;
}
#u183_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:380px;
  word-wrap:break-word;
}
#u184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#B2030A;
  text-align:center;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:716px;
  width:380px;
  height:50px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#B2030A;
  text-align:center;
}
#u184_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:380px;
  word-wrap:break-word;
}
#u185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#B2030A;
  text-align:center;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:912px;
  width:380px;
  height:50px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#B2030A;
  text-align:center;
}
#u185_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:380px;
  word-wrap:break-word;
}
#u186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#B2030A;
  text-align:center;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:1010px;
  width:380px;
  height:50px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#B2030A;
  text-align:center;
}
#u186_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:380px;
  word-wrap:break-word;
}
#u187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#B2030A;
  text-align:center;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:814px;
  width:380px;
  height:50px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#B2030A;
  text-align:center;
}
#u187_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:380px;
  word-wrap:break-word;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:668px;
  width:320px;
  height:38px;
}
#u188_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:38px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:766px;
  width:320px;
  height:38px;
}
#u189_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:38px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:864px;
  width:320px;
  height:38px;
}
#u190_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:38px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:962px;
  width:320px;
  height:38px;
}
#u191_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:38px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:1060px;
  width:320px;
  height:38px;
}
#u192_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:38px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
